//
//  Secret.xcconfig
//  CoreDisc
//
//  Created by 이채은 on 8/1/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL=https:/$()/api.coredisc.site
KAKAO_NATIVE_APP_KEY=ab53f7dd99830a5327ce305bf1639745
