//
//  Secret.xcconfig
//  CoreDisc
//
//  Created by 정서영 on 8/19/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL=https:/$()/api.coredisc.site
KAKAO_NATIVE_APP_KEY=ab53f7dd99830a5327ce305bf1639745
NAVER_CLIENT_ID=d0uRmYWHlzhv81SUF7T2
NAVER_CLIENT_SECRET=YBixZIf12j
NAVER_URL_SCHEME=naverd0uRmYWHlzhv81SUF7T2
